<h3>Editar usuario</h3>
<form [formGroup]="registroForm" (ngSubmit)="onUpdate()">

    <div class="form-outline mb-4">
        <label class="form-label" for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre" #nombre class="form-control" formControlName="nombre" required />
    </div>
    <div class="alert alert-danger"
        *ngIf="registroForm.controls['nombre'].invalid && registroForm.controls['nombre'].touched">
        <div class="container-error-message">
            Nombre es requerido
        </div>
    </div>

    <div class="form-outline mb-4">
        <label class="form-label" for="Correo">Correo</label>
        <input type="text" id="Correo" name="Correo" #Correo class="form-control" formControlName="correo" required />
    </div>
    <div class="alert alert-danger"
        *ngIf="registroForm.controls['correo'].invalid && registroForm.controls['correo'].touched">
        <div class="container-error-message">
            Correo es requerido
        </div>
        <div class="container-error-message">
            Correo debe tener minimo 5 carácteres
        </div>
        <div class="container-error-message">
            Debe tener formato de correo <b>correo@mail.com</b>
        </div>
    </div>

    <div class="form-outline mb-4">
        <label class="form-label" for="password">Contraseña</label>
        <input type="password" id="password" class="form-control" formControlName="password" required />
    </div>
    <div class="alert alert-danger"
        *ngIf="registroForm.controls['password'].invalid && registroForm.controls['password'].touched">
        <div class="container-error-message">
            Contraseña es requerido
        </div>
        <div class="container-error-message">
            Contraseña debe tener minimo 8 carácteres y máximo 15 carácteres
        </div>
    </div>

    <div class="form-outline mb-4">
        <label class="form-label" for="img">Imagen</label>
        <input type="text" id="img" name="img" #nombre class="form-control" formControlName="img" required />
    </div>
    <div class="alert alert-danger"
        *ngIf="registroForm.controls['img'].invalid && registroForm.controls['img'].touched">
        <div class="container-error-message">
            Imagen es requerido
        </div>
    </div>

    <div class="form-outline mb-4">
        <label class="form-label" for="tipo">Rol</label>
        <select class="form-select" aria-label="rol" formControlName="rol">
            <option *ngFor="let d of datasRoles" [ngValue]="d.rol">{{d.name}}</option>
        </select>
    </div>
    <div class="alert alert-danger"
        *ngIf="registroForm.controls['rol'].invalid && registroForm.controls['rol'].touched">
        <div class="container-error-message">
            Seleccione tipo de usuario
        </div>
    </div>

    <div class="form-inline">
        <button type="submit" class="btn btn-primary col-sm-4">Actualizar</button>
    </div>
</form>